body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
  padding: 50px;
}

input {
  width: 300px;
  padding: 10px;
}

button {
  padding: 10px 20px;
  background-color: #5624d0;
  color: white;
  border: none;
  cursor: pointer;
}

h1 {
  color: #333;
}
